@use '../../assets/style/var' as *;
@use '../../assets/style/mixins/link' as *;

.aside {
  font-size: 20px;
  background-color: #ffffff;
}

.menus {
  margin: 0;
  margin-left: 0.5rem;
  padding: 0;
  font-size: 0.9em;
  list-style: none;
}

.menu-name {
  display: block;
  padding: 0.5rem 0.3rem;
}

.menu {
  margin-left: 8px;
  font-weight: bold;
  a {
    display: inline-block;
    padding: 4px 0;

    @include link();
  }
}
