@import '../../assets/style/var.scss';

.aside {
  background-color: $--bg-color;

  .menus {
    margin: 0;
    margin-left: 0.5rem;
    padding: 0;
    list-style: none;

    .menu-name {
      font-weight: bold;
    }

    .menu-item {
      padding: 0.5rem 0.3rem;

      a {
        color: $--text-color-dark;
        text-decoration: none;
      }
    }
  }
}
