@import '../../style/commons/var';
@import '../../style/mixins/arrow';
@import '../../style/mixins/clearfix';
@import '../../icon/style/index';

$popconfirm: #{$--cls-prefix}-popconfirm;

.#{$popconfirm} {
  &__arrow {
    position: absolute;
    width: $--popconfirm-arrow-size * 2;
    height: $--popconfirm-arrow-size * 2;

    &--top {
      bottom: 0;
      margin-bottom: -$--popconfirm-arrow-size * 2 + $--popconfirm-border-width;

      @include arrow(
        bottom,
        $--popconfirm-arrow-size,
        $--popconfirm-bg-color,
        $--popconfirm-border-width,
        $--border-color
      );
    }

    &--bottom {
      margin-top: -$--popconfirm-arrow-size * 2 + $--popconfirm-border-width;

      @include arrow(
        top,
        $--popconfirm-arrow-size,
        $--popconfirm-bg-color,
        $--popconfirm-border-width,
        $--border-color
      );
    }

    &--left {
      right: 0;
      margin-right: -$--popconfirm-arrow-size * 2 + $--popconfirm-border-width;

      @include arrow(
        right,
        $--popconfirm-arrow-size,
        $--popconfirm-bg-color,
        $--popconfirm-border-width,
        $--border-color
      );
    }

    &--right {
      margin-left: -$--popconfirm-arrow-size * 2 + $--popconfirm-border-width;

      @include arrow(
        left,
        $--popconfirm-arrow-size,
        $--popconfirm-bg-color,
        $--popconfirm-border-width,
        $--border-color
      );
    }
  }

  &__body {
    color: $--popconfirm-color;
    background-color: $--popconfirm-bg-color;
    border: $--popconfirm-border-width solid $--popconfirm-border-color;
    border-radius: $--popconfirm-border-radius;
    box-shadow: $--popconfirm-box-shadow;

    @include clearfix();
  }

  &__message {
    margin: $--popconfirm-message-margin;
  }

  &__content {
    display: inline-block;
    padding-left: $--popconfirm-content-padding-left;
  }

  &__action {
    float: right;
    margin: $--popconfirm-action-margin;
  }

  &__icon {
    color: $--popconfirm-icon-color;
  }

  &__btn {
    margin-left: $--popconfirm-btn-margin;
  }

  // 不能使用enter-active,会导致overlayStyle中设置的transform-origin失效
  &--fade-enter-to,
  &--fade-leave-to {
    transition: opacity $--popconfirm-animation-duration ease-in-out,
      transform $--popconfirm-animation-duration ease-in-out;
  }

  &--fade-enter,
  &--fade-leave-to {
    transform: scale(0.8);
    opacity: 0;
  }

  &--fade-enter-to,
  &--fade-leave {
    transform: scale(1);
    opacity: 1;
  }
}
