@use "./variables";

@function transition-value(
  $duration: variables.$transition-duration,
  $easing: variables.$transition-timing-function
) {
  @return #{variables.$property} #{$duration} #{$easing};
}

@function overlay-transition-value(
  $duration: variables.$transition-duration,
  $easing: variables.$transition-timing-function
) {
  @return #{variables.$overlay-property} #{$duration} #{$easing};
}
