@import '../../style/commons/var';
@import '../../style/mixins/arrow';

$popover: #{$--cls-prefix}-popover;

.#{$popover} {
  &__arrow {
    position: absolute;
    width: $--popover-arrow-size * 2;
    height: $--popover-arrow-size * 2;

    &--top {
      bottom: 0;
      margin-bottom: -$--popover-arrow-size * 2 + $--popover-border-width;

      @include arrow(
        bottom,
        $--popover-arrow-size,
        $--popover-bg-color,
        $--popover-border-width,
        $--border-color
      );
    }

    &--bottom {
      margin-top: -$--popover-arrow-size * 2 + $--popover-border-width;

      @include arrow(
        top,
        $--popover-arrow-size,
        $--popover-bg-color,
        $--popover-border-width,
        $--border-color
      );
    }

    &--left {
      right: 0;
      margin-right: -$--popover-arrow-size * 2 + $--popover-border-width;

      @include arrow(
        right,
        $--popover-arrow-size,
        $--popover-bg-color,
        $--popover-border-width,
        $--border-color
      );
    }

    &--right {
      margin-left: -$--popover-arrow-size * 2 + $--popover-border-width;

      @include arrow(
        left,
        $--popover-arrow-size,
        $--popover-bg-color,
        $--popover-border-width,
        $--border-color
      );
    }
  }

  &__body {
    color: $--popover-color;
    background-color: $--popover-bg-color;
    border: $--popover-border-width solid $--popover-border-color;
    border-radius: $--popover-border-radius;
    box-shadow: $--popover-box-shadow;
  }

  &__title {
    min-width: $--popover-header-min-width;
    padding: $--popover-header-padding-y $--popover-header-padding-x;
    font-weight: $--popover-header-font-weight;
    border-bottom: $--popover-border-width solid $--popover-border-color;
  }

  &__content {
    padding: $--popover-body-padding-y $--popover-body-padding-x;
  }

  // 不能使用enter-active,会导致overlayStyle中设置的transform-origin失效
  &--fade-enter-to,
  &--fade-leave-to {
    transition: opacity $--popover-animation-duration ease-in-out,
      transform $--popover-animation-duration ease-in-out;
  }

  &--fade-enter,
  &--fade-leave-to {
    transform: scale(0.8);
    opacity: 0;
  }

  &--fade-enter-to,
  &--fade-leave {
    transform: scale(1);
    opacity: 1;
  }
}
