@use './var' as *;

$button: #{$cls-prefix}-button;

.#{$button} {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: $button-min-width;
  padding: $button-padding-6 $button-padding-16;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 0;
  border-radius: $border-radius-medium;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  user-select: none;
  touch-action: manipulation;
  // 阻止在移动端按下按钮后闪烁的问题
  -webkit-tap-highlight-color: transparent;

  @include button();

  > * {
    vertical-align: middle;
  }

  &__icon {
    margin: 0 $button-padding-12 - $button-padding-16;
    font-size: $button-icon-size;
  }

  &__icon--prefix {
    margin-right: 4px;
    margin-left: -4px;
  }

  &__icon--suffix {
    margin-right: -4px;
    margin-left: 4px;
  }

  &__ripple {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border-radius: inherit;
    &-inner {
      position: relative;
      border-radius: 50%;
      opacity: 0.3;
      background-color: red;
    }

    &-enter-active,
    &-leave-active {
      transition: all 1s $fast-out-slow-in-timing-function;
    }

    &-enter {
      transform: scale(0);
      opacity: 0.1;
    }

    &-enter-to {
      transform: scale(1);
    }
    &-leave-to {
      transform: scale(0);
    }
  }
}
