@use './var' as *;

$button: #{$cls-prefix}-button;
$button-group: #{$cls-prefix}-button-group;

.#{$button-group} {
  > .#{$button} {
    border-radius: 0;
  }

  &--horizontal {
    > .#{$button} {
      &:not(:first-child) {
        margin-left: -$button-border-width;
        border-left: $button-border-width solid $button-default-bg;
      }
    }

    > .#{$button}--size-medium {
      &:first-child {
        border-top-left-radius: $button-medium-border-radius;
        border-bottom-left-radius: $button-medium-border-radius;
      }

      &:last-child {
        border-top-right-radius: $button-medium-border-radius;
        border-bottom-right-radius: $button-medium-border-radius;
      }
    }

    > .#{$button}--size-small {
      &:first-child {
        border-top-left-radius: $button-small-border-radius;
        border-bottom-left-radius: $button-small-border-radius;
      }

      &:last-child {
        border-top-right-radius: $button-small-border-radius;
        border-bottom-right-radius: $button-small-border-radius;
      }
    }

    > .#{$button}--size-large {
      &:first-child {
        border-top-left-radius: $button-large-border-radius;
        border-bottom-left-radius: $button-large-border-radius;
      }

      &:last-child {
        border-top-right-radius: $button-large-border-radius;
        border-bottom-right-radius: $button-large-border-radius;
      }
    }

    > .#{$button}--variant-contained {
      @each $key, $value in $button-theme {
        &.#{$button}--theme-#{$key} {
          &:not(:first-child) {
            border-left-color: theme-pick($value, dark);
          }
        }
      }
    }

    > .#{$button}--variant-outlined {
      @each $key, $value in $button-theme {
        &.#{$button}--theme-#{$key} {
          &:not(:first-child) {
            border-left-color: theme-pick($value, dark);
          }
        }
      }
    }
  }

  &--vertical {
    display: inline-block;
    > .#{$button} {
      display: block;
      width: 100%;

      &:not(:first-child) {
        margin-top: -$button-border-width;
        border-top: $button-border-width solid $button-default-bg;
      }
    }

    > .#{$button}--size-medium {
      &:first-child {
        border-top-left-radius: $button-medium-border-radius;
        border-top-right-radius: $button-medium-border-radius;
      }

      &:last-child {
        border-bottom-right-radius: $button-medium-border-radius;
        border-bottom-left-radius: $button-medium-border-radius;
      }
    }

    > .#{$button}--size-small {
      &:first-child {
        border-top-left-radius: $button-small-border-radius;
        border-top-right-radius: $button-small-border-radius;
      }

      &:last-child {
        border-bottom-right-radius: $button-small-border-radius;
        border-bottom-left-radius: $button-small-border-radius;
      }
    }

    > .#{$button}--size-large {
      &:first-child {
        border-top-left-radius: $button-large-border-radius;
        border-top-right-radius: $button-large-border-radius;
      }

      &:last-child {
        border-bottom-right-radius: $button-large-border-radius;
        border-bottom-left-radius: $button-large-border-radius;
      }
    }

    > .#{$button}--variant-contained {
      @each $key, $value in $button-theme {
        &.#{$button}--theme-#{$key} {
          &:not(:first-child) {
            border-top-color: theme-pick($value, dark);
          }
        }
      }
    }

    > .#{$button}--variant-outlined {
      @each $key, $value in $button-theme {
        &.#{$button}--theme-#{$key} {
          &:not(:first-child) {
            border-top-color: theme-pick($value, dark);
          }
        }
      }
    }
  }

  &--round {
    > .#{$button}--size-medium {
      &:first-child {
        border-top-left-radius: $button-medium-border-radius-round;
        border-bottom-left-radius: $button-medium-border-radius-round;
      }

      &:last-child {
        border-top-right-radius: $button-medium-border-radius-round;
        border-bottom-right-radius: $button-medium-border-radius-round;
      }
    }

    > .#{$button}--size-small {
      &:first-child {
        border-top-left-radius: $button-small-border-radius-round;
        border-bottom-left-radius: $button-small-border-radius-round;
      }

      &:last-child {
        border-top-right-radius: $button-small-border-radius-round;
        border-bottom-right-radius: $button-small-border-radius-round;
      }
    }

    > .#{$button}--size-large {
      &:first-child {
        border-top-left-radius: $button-large-border-radius-round;
        border-bottom-left-radius: $button-large-border-radius-round;
      }

      &:last-child {
        border-top-right-radius: $button-large-border-radius-round;
        border-bottom-right-radius: $button-large-border-radius-round;
      }
    }
  }
}
