@use 'sass:map';
@use '../../style/theme' as *;
@forward '../../style/theme';

$button-transition: standard();
$button-icon-transition: standard();

$button-icon-vertical-align: -0.2em;

$button-border-opacity: 0.65;
$button-disabled-opacity: state-opacity('disabled');

$button-theme-default: emphasize($background, 0.1);

$button-themes: map.merge(
  $themes,
  (
    default: $button-theme-default
  )
);

$button-line-height: map.get($button-properties, line-height);

$button-border-width: 1px;

$button-medium-padding-x: px2rem(16px);
$button-medium-padding-y: px2rem(6px);
$button-medium-padding-x-outlined: $button-medium-padding-x - px2rem($button-border-width);
$button-medium-padding-y-outlined: $button-medium-padding-y - px2rem($button-border-width);
$button-medium-icon-padding-border: px2rem(12px);
$button-medium-icon-padding-content: px2rem(8px);
$button-medium-border-radius: $border-radius-medium;
$button-medium-icon-size: px2rem(18px);
$button-medium-font-size: px2rem(14px);
// stylelint-disable-next-line
$button-medium-border-radius-round: $button-medium-font-size * $button-line-height / 1rem +
  $button-medium-padding-y * 2;
$button-medium-min-width: px2rem(64px);

$button-large-padding-x: px2rem(22px);
$button-large-padding-y: px2rem(8px);
$button-large-padding-x-outlined: $button-large-padding-x - px2rem($button-border-width);
$button-large-padding-y-outlined: $button-large-padding-y - px2rem($button-border-width);
$button-large-icon-padding-border: px2rem(14px);
$button-large-icon-padding-content: px2rem(10px);
$button-large-border-radius: $border-radius-medium;
$button-large-icon-size: px2rem(20px);
$button-large-font-size: px2rem(16px);
// stylelint-disable-next-line
$button-large-border-radius-round: $button-large-font-size * $button-line-height / 1rem +
  $button-large-padding-y * 2;
$button-large-min-width: px2rem(70px);

$button-small-padding-x: px2rem(10px);
$button-small-padding-y: px2rem(4px);
$button-small-padding-x-outlined: $button-small-padding-x - px2rem($button-border-width);
$button-small-padding-y-outlined: $button-small-padding-y - px2rem($button-border-width);
$button-small-icon-padding-border: px2rem(8px);
$button-small-icon-padding-content: px2rem(4px);
$button-small-border-radius: $border-radius-medium;
$button-small-icon-size: px2rem(16px);
$button-small-font-size: px2rem(12px);
// stylelint-disable-next-line
$button-small-border-radius-round: $button-small-font-size * $button-line-height / 1rem +
  $button-small-padding-y * 2;
$button-small-min-width: px2rem(50px);
