@use '../../style/theme' as *;
@use 'sass:map';
@forward '../../style/theme';

$button-border-width: px2rem(1px);

$button-min-width: px2rem(64px);

$button-padding-x: px2rem(16px);
$button-padding-y: px2rem(6px);
$button-padding-x-outlined: $button-padding-x - $button-border-width;
$button-padding-y-outlined: $button-padding-y - $button-border-width;
$button-icon-padding-border: px2rem(12px);
$button-icon-padding-content: px2rem(8px);

$button-icon-size: px2rem(18px);
$button-icon-line-height: 1;

$button-round: px2rem($button-font-size * $button-line-height) + $button-padding-y * 2;

$button-loading-duration: 1s;
