@import '../../style/commons/var';
@import "../../style/function/color";

$button: #{$--cls-prefix}-button;

// mixins
@mixin button-variant($background) {
  color: color-yiq($background, $--button-text-color, $--button-text-color-light);
  background-color: $background;
  border-color: $background;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    $background-hover: color-level($background, -$--button-color-level);

    color: color-yiq($background-hover, $--text-color, $--text-color-light);
    background-color: $background-hover;
    border-color: $background-hover;
  }

  &:active:not(:disabled) {
    $background-active: color-level($background, $--button-color-level);

    color: color-yiq($background-active, $--text-color, $--text-color-light);
    background-color: $background-active;
    border-color: $background-active;
  }
}

@mixin button-outline-variant($color) {
  color: $color;
  background-color: transparent;
  background-image: none;
  border-color: $color;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    $color-hover: color-level($color, -$--button-color-level);

    color: $color-hover;
    background-color: transparent;
    border-color: $color-hover;
  }

  &:active:not(:disabled) {
    $color-active: color-level($color, $--button-color-level);

    color: $color-active;
    background-color: transparent;
    border-color: $color-active;
  }
}

.#{$button} {
  display: inline-block;
  line-height: $--button-line-height;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  transition:
    color $--button-animation-time ease-in-out,
    border-color $--button-animation-time ease-in-out,
    background-color $--button-animation-time ease-in-out,
    box-shadow $--button-animation-time ease-in-out;
  -webkit-appearance: none;
  user-select: none;

  &--size-default {
    height: $--button-default-height;
    padding: 0 $--button-default-padding-x;
    font-weight: $--button-default-font-weight;
    font-size: $--button-default-font-size;
    border: $--button-default-border-width solid transparent;
    border-radius: $--button-default-border-radius;

    &.#{$button}--round {
      border-radius: $--button-default-height;
    }

    &.#{$button}--circle {
      width: $--button-default-height;
      height: $--button-default-height;
    }
  }

  &--size-large {
    height: $--button-large-height;
    padding: 0 $--button-large-padding-x;
    font-weight: $--button-large-font-weight;
    font-size: $--button-large-font-size;
    border: $--button-large-border-width solid transparent;
    border-radius: $--button-large-border-radius;

    &.#{$button}--round {
      border-radius: $--button-large-height;
    }

    &.#{$button}--circle {
      width: $--button-large-height;
      height: $--button-large-height;
    }
  }

  &--size-small {
    height: $--button-small-height;
    padding: 0 $--button-small-padding-x;
    font-weight: $--button-small-font-weight;
    font-size: $--button-small-font-size;
    border: $--button-small-border-width solid transparent;
    border-radius: $--button-small-border-radius;

    &.#{$button}--round {
      border-radius: $--button-small-height;
    }

    &.#{$button}--circle {
      width: $--button-small-height;
      height: $--button-small-height;
    }
  }

  &--circle {
    padding: 0;
    border-radius: 50%;
  }

  &--loading {
    opacity: $--button-opacity-disabled;
    pointer-events: none;
  }

  &--dashed {
    border-style: dashed;
  }

  &--long {
    display: block;
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: $--button-opacity-disabled;
  }

  .#{$--cls-prefix}-icon + span,
  span + .#{$--cls-prefix}-icon {
    padding-left: $--button-icon-padding;
  }

  &--default {
    color: $--button-text-color;
    background-color: $--button-bg-color;
    border-color: $--button-border-color;

    $color: map-get($--color-theme, primary);

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      $color-hover: color-level($color, -$--button-color-level);

      color: $color-hover;
      background-color: color-level($color-hover, -$--button-color-level * 4);
      border-color: color-level($color-hover, -$--button-color-level);
    }

    &:active:not(:disabled) {
      $color-active: color-level($color, $--button-color-level);

      color: $color-active;
      background-color: color-level($color-active, -$--button-color-level * 4);
      border-color: color-level($color-active, -$--button-color-level);
    }

    // &.#{$button}--plain,
    // &.#{$button}--ghost {
    //   background-color: transparent;

    //   &:hover:not(:disabled),
    //   &:focus:not(:disabled),
    //   &:active:not(:disabled) {
    //     color: $--color-primary;
    //     background-color: transparent;
    //     border-color: $--color-primary;
    //   }
    // }
  }

  &--text {
    $color: $--link-color;

    color: $color;
    background-color: transparent;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      color: color-level($color, -$--button-color-level);
    }

    &:active:not(:disabled) {
      color: color-level($color, $--button-color-level);
    }
  }

  @each $key, $value in $--button-theme-color {
    &--#{$key} {

      @include button-variant($value);

      &.#{$button}--ghost,
      &.#{$button}--plain {

        @include button-outline-variant($value);
      }
    }
  }

  &--plain {
    background-color: $--bg-color;

    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled) {
      background-color: $--bg-color;
    }
  }
}
