@import "../../assets/style/var";

.md {
  font-size: 1rem;

  .demo-box {
    margin-bottom: 1rem;
  }

  &-code-inline {
    background-color: color-level($--color-primary, -10);
    display: inline-block;
    margin: 0 0.2rem;
    padding: 0.2rem 0.4rem;
    line-height: 0.9rem;
    border-radius: $--border-radius / 2;
  }

  &-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;

    // tbody{
    //   tr{
    //     &:nth-child(odd){
    //       background-color: #d8d8d8;
    //     }
    //   }
    // }
    td,
    th {
      border-bottom: 1px solid $--border-color;
      padding: 1rem;
    }

    th {
      text-align: left;
      white-space: nowrap;
      color: color-level($--text-color-dark, -5);
      font-weight: bold;
    }

    td {
      color: $--text-color-dark;
    }

  }

  &-ul,
  &-ol {
    li {
      margin-bottom: 0.5rem;
    }
  }

}