@import "../../style/commons/var";

.carousel_item {
  height: 300px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 300px;
  text-align: center;
  background-color: $--color-primary;
}
