@import "../../style/commons/var";

.demo-fade-enter {
  height: 0;
  opacity: 0;
  transition: opacity 10s linear, height 10s linear;
}

.demo-fade-enter-active {
  height: 10rem;
  opacity: 1;
}

.demo-box {
  height: 10rem;
  color: $--text-color-light;
  font-size: 3rem;
  line-height: 10rem;
  text-align: center;
  vertical-align: middle;
  background-color: $--color-primary;
}
