@import "../../style/commons/var";

.css-transition {
  &-demo-box {
    color: $--text-color-light;
    font-size: 3rem;
    line-height: 10rem;
    text-align: center;
    vertical-align: middle;
    background-color: $--color-primary;
  }

  &-demo-fade-enter-active,
  &-demo-fade-leave-active,
  &-demo-fade-appear-active {
    transition: opacity 2s ease, height 2s ease;
  }

  &-demo-fade-leave-to,
  &-demo-fade-appear,
  &-demo-fade-enter {
    height: 0;
    opacity: 0;
  }

  &-demo-fade-leave,
  &-demo-fade-appear-to,
  &-demo-fade-enter-to {
    height: 10rem;
    opacity: 1;
  }
}
