@import '../../style/commons/var';

.button {
  &-column {
    .xl-button {
      margin: 0.5rem;
    }

    &.ghost {
      background-color: $--color-gray-200;
    }
  }

  &-wrapper {
    .xl-button-group {
      margin: 0.5rem;
    }
  }
}
