@use 'map';

// class prefix
$cls-prefix: 'xl';

$gray: palette.$gray;

$primary: theme.extract(palette.$indigo);
$error: theme.extract(palette.$red);
$warning: theme.extract(palette.$orange);
$info: theme.extract(palette.$blue);
$success: theme.extract(palette.$green);

$themes: (
  primary: $primary,
  error: $error,
  warning: $warning,
  info: $info
);

// border
$border-color: map.get($gray, 100);

// button
$button-line-height: 1.5;
$button-transition: all 0.4s ease-in-out;

