@import "../../style/commons/var";

$panel: #{$--cls-prefix}-collapse-panel;

.#{$panel} {
  &__header {
    position: relative;
    padding: $--collapse-panel-header--padding;
    color: $--collapse-panel-header-color;
    background-color: $--collapse-panel-header-bg-color;
    border-top: $--collapse-border-width solid $--collapse-border-color;
    cursor: pointer;

    &__arrow {
      display: inline-block;
      margin-right: $--collapse-panel-header-icon-padding;

      .#{$--cls-prefix}-icon {
        transition: transform $--collapse-panel-animation-time ease;
      }

      &--right {
        float: right;
        margin-left: $--collapse-panel-header-icon-padding;
      }
    }

    &__extra {
      float: right;
    }
  }

  &__body {
    padding: $--collapse-panel-body--padding;
    color: $--collapse-panel-body-color;
    border-top: $--collapse-border-width solid $--collapse-border-color;

    &--slide {
      transition: all $--collapse-panel-animation-time ease;
    }
  }

  &:first-child {
    .#{$panel}__header {
      border-top: none;
    }
  }

  &--disabled {
    .#{$panel}__header {
      cursor: not-allowed;
      opacity: $--collapse-panel-opacity-disabled;
    }
  }
}
