$modal: #{$--cls-prefix}-modal;

.#{$modal}__wrap {
  .#{$modal}__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: red;
  }

  // .#{$modal} {}
}
