@use './var' as *;

$icon: #{$cls-prefix}-icon;

@keyframes #{$icon}-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.#{$icon} {
  display: inline-block;
  line-height: 0;
  vertical-align: -0.125em; // for SVG icon, see https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &--spin {
    animation: #{$icon}-spin $icon-animation-duration linear infinite;
  }

  > * {
    line-height: 1;
  }

  svg {
    display: inline-block;
  }
}
