// common
$fast-out-slow-in-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;
$linear-out-slow-in-timing-function: cubic-bezier(0, 0, 0.2, 1) !default;
$fast-out-linear-in-timing-function: cubic-bezier(0.4, 0, 1, 1) !default;

$shortest-duration: 150ms;
$shorter-duration: 200ms;
$short-duration: 250ms;
$standard-duration: 300ms;
// complex animation
$complex-duration: 375ms;
$entering-screen-duration: 225ms;
$leaving-screen-duration: 195ms;

