@use '../palette';
@use '../functions/color' as *;
@use 'sass:map';

$white: #ffffff;
$black: #000000;

// text
$primary-text-color: palette.$dark-primary-text;
$secondary-text-color: palette.$dark-secondary-text;
$disabled-text-color: palette.$dark-disabled-text;
$divider-color: palette.$dark-divider;
$focused-color: palette.$dark-focused;

@function theme-pick($map, $key, $contrast: false) {
  @if ($contrast) {
    @return map.get(map.get($map, contrast), $key);
  }

  @return map.get($map, $key);
}

// background
$background-default: theme-pick(palette.$gray, 50);

// gary
$gray: palette.$gray;

$primary: (
  light: theme-pick(palette.$indigo, 300),
  main: theme-pick(palette.$indigo, 500),
  dark: theme-pick(palette.$indigo, 700),
  contrast: (
    light: theme-pick(palette.$indigo, 300, true),
    main: theme-pick(palette.$indigo, 500, true),
    dark: theme-pick(palette.$indigo, 700, true)
  )
);

$secondary: (
  light: theme-pick(palette.$pink, 'A200'),
  main: theme-pick(palette.$pink, 'A400'),
  dark: theme-pick(palette.$pink, 'A700'),
  contrast: (
    light: theme-pick(palette.$pink, 'A200', true),
    main: theme-pick(palette.$pink, 'A400', true),
    dark: theme-pick(palette.$pink, 'A700', true)
  )
);

$success: (
  light: theme-pick(palette.$green, 300),
  main: theme-pick(palette.$green, 500),
  dark: theme-pick(palette.$green, 700),
  contrast: (
    light: theme-pick(palette.$green, 300, true),
    main: theme-pick(palette.$green, 500, true),
    dark: theme-pick(palette.$green, 700, true)
  )
);

$error: (
  light: theme-pick(palette.$red, 300),
  main: theme-pick(palette.$red, 500),
  dark: theme-pick(palette.$red, 700),
  contrast: (
    light: theme-pick(palette.$red, 300, true),
    main: theme-pick(palette.$red, 500, true),
    dark: theme-pick(palette.$red, 700, true)
  )
);

$info: (
  light: theme-pick(palette.$blue, 300),
  main: theme-pick(palette.$blue, 500),
  dark: theme-pick(palette.$blue, 700),
  contrast: (
    light: theme-pick(palette.$blue, 300, true),
    main: theme-pick(palette.$blue, 500, true),
    dark: theme-pick(palette.$blue, 700, true)
  )
);

$warning: (
  light: theme-pick(palette.$orange, 300),
  main: theme-pick(palette.$orange, 500),
  dark: theme-pick(palette.$orange, 700),
  contrast: (
    light: theme-pick(palette.$orange, 300, true),
    main: theme-pick(palette.$orange, 500, true),
    dark: theme-pick(palette.$orange, 700, true)
  )
);

$theme: (
  primary: $primary,
  secondary: $secondary,
  error: $error,
  warning: $warning,
  info: $info,
  success: $success
);
