@use '../palette';
@use '../functions/color' as *;
@use 'sass:map';

// state
$opacity-enabled: 0;
$opacity-hover: 0.04;
$opacity-focus: 0.12;
$opacity-selected: 0.08;
$opacity-activated: 0.12;
$opacity-pressed: 0.12;
$opacity-dragged: 0.08;
$opacity-disabled: 0.38;

// text
$dark-primary-text: palette.$dark-primary-text;
$dark-secondary-text: palette.$dark-secondary-text;
$dark-disabled-text: palette.$dark-disabled-text;
$dark-dividers: palette.$dark-dividers;
$dark-focused: palette.$dark-focused;
$light-primary-text: palette.$light-primary-text;
$light-secondary-text: palette.$light-secondary-text;
$light-disabled-text: palette.$light-disabled-text;
$light-dividers: palette.$light-dividers;
$light-focused: palette.$light-focused;

$primary: (
  light: map.get(palette.$indigo, 300),
  main: map.get(palette.$indigo, 500),
  dark: map.get(palette.$indigo, 700),
  contrast: (
    light: map.get(map.get(palette.$indigo, contrast), 300),
    main: map.get(map.get(palette.$indigo, contrast), 500),
    dark: map.get(map.get(palette.$indigo, contrast), 700)
  )
);

$secondary: (
  light: map.get(palette.$pink, 'A200'),
  main: map.get(palette.$pink, 'A400'),
  dark: map.get(palette.$pink, 'A700'),
  contrast: (
    light: map.get(map.get(palette.$pink, contrast), 'A200'),
    main: map.get(map.get(palette.$pink, contrast), 'A400'),
    dark: map.get(map.get(palette.$pink, contrast), 'A700')
  )
);

$success: (
  light: map.get(palette.$green, 300),
  main: map.get(palette.$green, 500),
  dark: map.get(palette.$green, 700),
  contrast: (
    light: map.get(map.get(palette.$green, contrast), 300),
    main: map.get(map.get(palette.$green, contrast), 500),
    dark: map.get(map.get(palette.$green, contrast), 700)
  )
);

$error: (
  light: map.get(palette.$red, 300),
  main: map.get(palette.$red, 500),
  dark: map.get(palette.$red, 700),
  contrast: (
    light: map.get(map.get(palette.$red, contrast), 300),
    main: map.get(map.get(palette.$red, contrast), 500),
    dark: map.get(map.get(palette.$red, contrast), 700)
  )
);

$info: (
  light: map.get(palette.$blue, 300),
  main: map.get(palette.$blue, 500),
  dark: map.get(palette.$blue, 700),
  contrast: (
    light: map.get(map.get(palette.$blue, contrast), 300),
    main: map.get(map.get(palette.$blue, contrast), 500),
    dark: map.get(map.get(palette.$blue, contrast), 700)
  )
);

$warning: (
  light: map.get(palette.$orange, 300),
  main: map.get(palette.$orange, 500),
  dark: map.get(palette.$orange, 700),
  contrast: (
    light: map.get(map.get(palette.$orange, contrast), 300),
    main: map.get(map.get(palette.$orange, contrast), 500),
    dark: map.get(map.get(palette.$orange, contrast), 700)
  )
);

$theme: (
  primary: $primary,
  secondary: $secondary,
  error: $error,
  warning: $warning,
  info: $info,
  success: $success
);
