@use './color' as *;
@use 'sass:color';
@use 'sass:math';

// state
$overlay-enabled: 0;
$overlay-hover: 0.04;
$overlay-focus: 0.12;
$overlay-selected: 0.08;
$overlay-activated: 0.12;
$overlay-pressed: 0.12;
$overlay-dragged: 0.08;
$overlay-disabled: 0.38;

@function overlay-color($color, $overlay, $base-color: $white) {
  $overlay: if(math.is-unitless($overlay), math.percentage($overlay), $overlay);

  @return color.mix($base-color, $color, $overlay);
}
