@use 'sass:math';

$font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
$html-font-size: 14px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

@function _round($value) {
  @return math.round($value * 1e5) / 1e5;
}

@function _px($value) {
  @return if(math.is-unitless($value), $value * 1px, $value);
}

@function px2rem($size) {
  $size: _px($size);

  @return _round($size / $html-font-size * 1rem);
}

@mixin build-style($font-weight, $size, $line-height, $letter-space, $text-transform: false) {
  $font-size: px2rem($size);

  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: _round(_px($letter-space) / _px($size)) * 1rem;

  @if ($text-transform) {
    text-transform: uppercase;
  }
}

$h1-font-size: 96px;
$h1-line-height: 1.167;

@mixin h1 {
  @include build-style($font-weight-light, $h1-font-size, $h1-line-height, -1.5);
}

$h2-font-size: 60px;
$h2-line-height: 1.2;

@mixin h2 {
  @include build-style($font-weight-light, $h2-font-size, $h2-line-height, -0.5);
}

$h3-font-size: 48px;
$h3-line-height: 1.167;

@mixin h3 {
  @include build-style($font-weight-regular, $h3-font-size, $h3-line-height, 0);
}

$h4-font-size: 34px;
$h4-line-height: 1.235;

@mixin h4 {
  @include build-style($font-weight-regular, $h4-font-size, $h4-line-height, 0.25);
}

$h5-font-size: 24px;
$h5-line-height: 1.334;

@mixin h5 {
  @include build-style($font-weight-regular, $h5-font-size, $h5-line-height, 0);
}

$h6-font-size: 20px;
$h6-line-height: 1.6;

@mixin h6 {
  @include build-style($font-weight-medium, $h6-font-size, $h6-line-height, 0.15);
}

@mixin subtitle1 {
  @include build-style($font-weight-regular, 16, 1.75, 0.15);
}

@mixin subtitle2 {
  @include build-style($font-weight-medium, 14, 1.57, 0.1);
}

@mixin body1 {
  @include build-style($font-weight-regular, 16, 1.5, 0.15);
}

@mixin body2 {
  @include build-style($font-weight-regular, 14, 1.43, 0.15);
}

$button-font-size: 14px;
$button-line-height: 1.75;

@mixin button {
  @include build-style($font-weight-medium, $button-font-size, $button-line-height, 0.4, true);
}

@mixin caption {
  @include build-style($font-weight-regular, 12, 1.66, 0.4);
}

@mixin overline {
  @include build-style($font-weight-regular, 12, 2.66, 1, true);
}
