@use 'sass:math';

$font-family: 'Roboto, "Helvetica Neue", sans-serif';
$html-font-size: 16px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

@function px2rem($size) {
  @return $size * 1px / $html-font-size * 1rem;
}

@mixin build-style($font-weight, $size, $line-height, $letter-space, $text-transform: false) {
  $font-size: px2rem($size);

  font-weight: $font-weight;
  font-size: px2rem($size);
  line-height: $line-height;
  letter-spacing: math.round($letter-space / $size) * 1rem;

  @if ($text-transform) {
    text-transform: 'uppercase';
  }
}

@mixin h1 {
  @include build-style($font-weight-light, 96, 1.167, -1.5);
}

@mixin h2 {
  @include build-style($font-weight-light, 60, 1.2, -0.5);
}

@mixin h3 {
  @include build-style($font-weight-regular, 48, 1.167, 0);
}

@mixin h4 {
  @include build-style($font-weight-regular, 34, 1.235, 0.25);
}

@mixin h5 {
  @include build-style($font-weight-regular, 24, 1.334, 0);
}

@mixin h6 {
  @include build-style($font-weight-medium, 20, 1.6, 0.15);
}

@mixin subtitle1 {
  @include build-style($font-weight-regular, 16, 1.75, 0.15);
}

@mixin subtitle2 {
  @include build-style($font-weight-medium, 14, 1.57, 0.1);
}

@mixin body1 {
  @include build-style($font-weight-regular, 16, 1.5, 0.15);
}

@mixin body2 {
  @include build-style($font-weight-regular, 14, 1.43, 0.15);
}

@mixin button {
  @include build-style($font-weight-regular, 14, 1.75, 0.4, true);
}

@mixin caption {
  @include build-style($font-weight-regular, 12, 1.66, 0.4);
}

@mixin overline {
  @include build-style($font-weight-regular, 12, 2.66, 1, true);
}
