@import './_commons/var.scss';

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.#{$--cls-prefix}-icon {
    font-size: 1rem;
    display: inline-block;
    line-height: 0;
    &--spin{
        animation: spin .4s linear infinite;
    }
}