@use 'palette';

$gray: palette.$gray;

$primary: palette.$indigo;
$success: palette.$green;
$error: palette.$red;
$info: palette.$blue;
$warning: palette.$orange;

$theme: (
  primary: $primary,
  error: $error,
  warning: $warning,
  info: $info,
  success: $success
);

$primary-hue: 500;
