@import '../style/commons/var';

$dropdown-divider: #{$--cls-prefix}-dropdown-divider;

.#{$dropdown-divider} {
  height: 1px;
  margin: $--dropdown-padding;
  line-height: 0;
  background-color: $--dropdown-divider-color;
}
