@use '../theme' as *;

html {
  box-sizing: border-box;
  font-size: $html-font-size;
}

body {
  color: $primary-text-color;
  font-family: $font-family;
  background-color: $background-default;

  @media print {
    background-color: $white;
  }
}

strong,
b {
  font-weight: $font-weight-bold;
}

// h1 {
//   @include h1();
// }
// h2 {
//   @include h2();
// }

// h3 {
//   @include h3();
// }

// h4 {
//   @include h4();
// }

// h5 {
//   @include h5();
// }

// h6 {
//   @include h6();
// }
