@use '../theme';

html {
  box-sizing: border-box;
  font-size: theme.$base-font-size;
}

body {
  color: theme.text-color(primary);
  font-family: theme.$font-family;
  background-color: theme.$background;

  @media print {
    background-color: theme.$white;
  }
}

strong,
b {
  font-weight: theme.$font-weight-bold;
}

// h1 {
//   @include h1();
// }
// h2 {
//   @include h2();
// }

// h3 {
//   @include h3();
// }

// h4 {
//   @include h4();
// }

// h5 {
//   @include h5();
// }

// h6 {
//   @include h6();
// }
