@use 'sass:math';

$base-font-size: 16px;

@function _px($value) {
  @return if(math.is-unitless($value), $value * 1px, $value);
}

@function px2rem($size) {
  $size: _px($size);

  @return $size / $base-font-size * 1rem;
}

$font-family: 'Roboto', 'Helvetica Neue', 'segoe ui', 'Arial', 'noto sans', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

@function _build-style(
  $size,
  $line-height,
  $font-weight,
  $letter-spacing,
  $text-decoration: inherit,
  $text-transform: inherit
) {
  $font-size: px2rem($size);

  $letter-spacing: _px($letter-spacing) / _px($size) * 1em;

  @return (
    font-size: $font-size,
    line-height: $line-height,
    font-weight: $font-weight,
    letter-spacing: $letter-spacing,
    text-decoration: $text-decoration,
    text-transform: $text-transform
  );
}

$headline1-properties: _build-style(96, 1.167, $font-weight-light, -1.5);
$headline2-properties: _build-style(60, 1.2, $font-weight-light, -0.5);
$headline3-properties: _build-style(48, 1.167, $font-weight-regular, 0);
$headline4-properties: _build-style(34, 1.235, $font-weight-regular, 0.25);
$headline5-properties: _build-style(24, 1.334, $font-weight-regular, 0);
$headline6-properties: _build-style(20, 1.6, $font-weight-medium, 0.25);
$subtitle1-properties: _build-style(16, 1.75, $font-weight-regular, 0.15);
$subtitle2-properties: _build-style(14, 1.57, $font-weight-medium, 0.1);
$body1-properties: _build-style(16, 1.5, $font-weight-regular, 0.5);
$body2-properties: _build-style(14, 1.3, $font-weight-regular, 0.25);
$caption-properties: _build-style(12, 1.66, $font-weight-regular, 0.4);
$button-properties: _build-style(14, 1.75, $font-weight-medium, 1.25, none, uppercase);
$overline-properties: _build-style(12, 2.66, $font-weight-medium, 2, none, uppercase);
