@import './var';

body {
  color: $--text-color;
  font-size: $--body-font-size;
  font-family: $--font-family;
  background-color: $--body-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: $--h1-font-size;
}

h2 {
  font-size: $--h2-font-size;
}

h3 {
  font-size: $--h3-font-size;
}

h4 {
  font-size: $--h4-font-size;
}

h5 {
  font-size: $--h5-font-size;
}

h6 {
  font-size: $--h6-font-size;
}
