@import '../utils/functions';
//prefix

$--cls-prefix:          'xl'                        !default;

// color
$--color-white:     #ffffff                       !default;
$--color-gray-100:  #f8f9fa                       !default;
$--color-gray-200:  #e9ecef                       !default;
$--color-gray-300:  #dee2e6                       !default;
$--color-gray-400:  #ced4da                       !default;
$--color-gray-500:  #adb5bd                       !default;
$--color-gray-600:  #6c757d                       !default;
$--color-gray-700:  #495057                       !default;
$--color-gray-800:  #343a40                       !default;
$--color-gray-900:  #212529                       !default;
$--color-black:     #000000                       !default;

$--grays:(
        "0":                $--color-white,
        "100":              $--color-gray-100,
        "200":              $--color-gray-200,
        "300":              $--color-gray-300,
        "400":              $--color-gray-400,
        "500":              $--color-gray-500,
        "600":              $--color-gray-600,
        "700":              $--color-gray-700,
        "800":              $--color-gray-800,
        "900":              $--color-gray-900,
        "1000":             $--color-black
)                                                    !default;

$--color-blue:      #007bff                        !default;
$--color-indigo:    #6610f2                        !default;
$--color-purple:    #6f42c1                        !default;
$--color-pink:      #e83e8c                        !default;
$--color-red:       #dc3545                        !default;
$--color-orange:    #fd7e14                        !default;
$--color-yellow:    #ffc107                        !default;
$--color-green:     #28a745                        !default;
$--color-teal:      #20c997                        !default;
$--color-cyan:      #17a2b8                        !default;

$--colors:(
        "blue":             $--color-blue,
        "indigo":           $--color-indigo,
        "purple":           $--color-purple,
        "pink":             $--color-pink,
        "red":              $--color-red,
        "orange":           $--color-orange,
        "yellow":           $--color-yellow,
        "green":            $--color-green,
        "teal":             $--color-teal,
        "cyan":             $--color-cyan,
        "white":            $--color-white,
        "gray":             $--color-gray-600,
        "gray-dark":        $--color-gray-800
)                                                     !default;

$--color-primary:     $--color-blue                   !default;
$--color-secondary:   $--color-gray-600               !default;
$--color-success:     $--color-green                  !default;
$--color-info:        $--color-cyan                   !default;
$--color-warning:     $--color-yellow                 !default;
$--color-danger:      $--color-red                    !default;
$--color-dark:        $--color-gray-800               !default;

$--theme-colors: (
        "primary":          $--color-primary,
        "secondary":        $--color-secondary,
        "success":          $--color-success,
        "info":             $--color-info,
        "warning":          $--color-warning,
        "danger":           $--color-danger,
        "dark":             $--color-dark
)                                                     !default;

$--theme-color-interval:      8%                      !default;

$--yiq-contrasted-threshold:  210                     !default;
$--yiq-text-dark:             $--color-gray-900       !default;
$--yiq-text-light:            $--color-white          !default;

//body
$--body-color:                $--color-gray-100       !default;

//background
$--bg-color:                  $--color-white          !default;

//text color
$--text-color-dark:           $--yiq-text-dark            !default;
$--text-color-light:          $--yiq-text-light           !default;
$--link-color:                theme-color("primary")      !default;
$--link-color--hover:         darken($--link-color, 15%)  !default;

// border
$--border-color:              $--color-gray-300           !default;
$--border-color-hover:        $--color-gray-500           !default;
$--border-color-focus:        $--color-primary            !default;
$--border-width:              1px                         !default;
$--border-radius:             .25rem                      !default;
$--border-radius-lg:          .3rem                       !default;
$--border-radius-sm:          .2rem                       !default;

// line-height
$--line-height:               1.5                         !default;
$--line-height-sm:            1.5                         !default;
$--line-height-lg:            1.5                         !default;

//font
$--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// $--font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif !default;
$--font-size:                 1rem                        !default;
$--font-size-lg:              ($--font-size * 1.25)       !default;
$--font-size-sm:              ($--font-size * .875)       !default;
$--font-weight-lighter:       lighter                     !default;
$--font-weight-light:         300                         !default;
$--font-weight:               400                         !default;
$--font-weight-bold:          700                         !default;
$--font-weight-bolder:        bolder                      !default;

//animation
$animation-duration-base:     .4s                         !default;
$animation-duration-fast:     .4s                         !default;

//opacity
$--opacity-disabled:          .65                         !default;


//grid

$--grid-breakpoints: (
        xs: '575px',
        sm: '576px',
        md: '768px',
        lg: '992px',
        xl: '1200px',
        xxl: '1600px'
) !default;
$--grid-span: 24;