/* stylelint-disable */
@import '../function/color';
//prefix

$--cls-prefix:                  'xl'                                                 !default;

// color
$--color-white:                 #ffffff                                              !default;
$--color-black:                 #000000                                              !default;

// gray
$--color-gray-0:                color-level($--color-white, 0)                       !default;
$--color-gray-100:              color-level($--color-white, 1)                       !default;
$--color-gray-200:              color-level($--color-white, 2)                       !default;
$--color-gray-300:              color-level($--color-white, 3)                       !default;
$--color-gray-400:              color-level($--color-white, 4)                       !default;
$--color-gray-500:              color-level($--color-white, 5)                       !default;
$--color-gray-600:              color-level($--color-white, 6)                       !default;
$--color-gray-700:              color-level($--color-white, 7)                       !default;
$--color-gray-800:              color-level($--color-white, 8)                       !default;
$--color-gray-900:              color-level($--color-white, 9)                       !default;
$--color-gray-1000:             color-level($--color-white, 10)                      !default;

$--color-gray: (
        '0':    $--color-gray-0,
        '100':  $--color-gray-100,
        '200':  $--color-gray-200,
        '300':  $--color-gray-300,
        '400':  $--color-gray-400,
        '500':  $--color-gray-500,
        '600':  $--color-gray-600,
        '700':  $--color-gray-700,
        '800':  $--color-gray-800,
        '900':  $--color-gray-900,
        '1000': $--color-gray-1000
)                                                                                    !default;


// base color
$--color-blue:                  #007bff                                              !default;
$--color-indigo:                #6610f2                                              !default;
$--color-purple:                #6f42c1                                              !default;
$--color-pink:                  #e83e8c                                              !default;
$--color-red:                   #dc3545                                              !default;
$--color-orange:                #fd7e14                                              !default;
$--color-yellow:                #ffc107                                              !default;
$--color-green:                 #28a745                                              !default;
$--color-teal:                  #20c997                                              !default;
$--color-cyan:                  #17a2b8                                              !default;

// theme color
$--color-primary:               $--color-blue                                        !default;
$--color-success:               $--color-green                                       !default;
$--color-info:                  $--color-cyan                                        !default;
$--color-warning:               $--color-yellow                                      !default;
$--color-error:                 $--color-red                                         !default;

$--color-theme: (
        'primary':    $--color-primary,
        'success':    $--color-success,
        'info':       $--color-info,
        'warning':    $--color-warning,
        'error':      $--color-error,
)                                                                                    !default;

//body
$--body-color:                  $--color-white                                       !default;
$--body-font-size:              14px                                                 !default;

//background
$--bg-color:                    $--color-gray-0                                      !default;

//text color
$--text-color:                  $--color-gray-900                                    !default;
$--text-color-second:           $--color-gray-800                                    !default;
$--text-color-light:            $--color-gray-0                                      !default;
$--link-color:                  $--color-primary                                     !default;
$--link-color-hover:            color-level($--link-color, -2)                       !default;

// border
$--border-color:                $--color-gray-100                                    !default;
$--border-color-hover:          $--color-gray-400                                    !default;
$--border-color-focus:          $--color-primary                                     !default;
$--border-width:                1px                                                  !default;
$--border-radius:               0.25rem                                              !default;
$--border-radius-lg:            0.3rem                                               !default;
$--border-radius-sm:            0.2rem                                               !default;

// box shadow
$--box-shadow-sm:               0 .125rem .25rem rgba($--color-gray-1000, .075)      !default;
$--box-shadow:                  0 .5rem 1rem rgba($--color-gray-1000, .15)           !default;
$--box-shadow-lg:               0 1rem 3rem rgba($--color-gray-1000, .175)           !default;

// line-height
$--line-height:                 1.5                                                  !default;
$--line-height-sm:              1                                                  !default;
$--line-height-lg:              1.8                                                  !default;

// font
$--font-family:                 -apple-system,
                                BlinkMacSystemFont,
                                "Segoe UI",
                                Roboto,
                                "Helvetica Neue",
                                Arial, sans-serif,
                                "Apple Color Emoji",
                                "Segoe UI Emoji",
                                "Segoe UI Symbol",
                                "Noto Color Emoji"                                   !default;
$--font-size:                   1rem                                                 !default;
$--font-size-lg:                $--font-size * 1.25                                  !default;
$--font-size-sm:                $--font-size * 0.875                                 !default;
$--font-weight-lighter:         lighter                                              !default;
$--font-weight-light:           300                                                  !default;
$--font-weight:                 400                                                  !default;
$--font-weight-bold:            700                                                  !default;
$--font-weight-bolder:          bolder                                               !default;

// animation
$--animation-duration:       .4s                         !default;
$--animation-duration-fast:       .25s                         !default;
$--animation-duration-slow:       .6s                         !default;

// opacity
$--opacity-disabled:          .65                         !default;

// header title
$--h1-font-size:                $--font-size * 2.5                                   !default;
$--h2-font-size:                $--font-size * 2                                     !default;
$--h3-font-size:                $--font-size * 1.75                                  !default;
$--h4-font-size:                $--font-size * 1.5                                   !default;
$--h5-font-size:                $--font-size * 1.25                                  !default;
$--h6-font-size:                $--font-size                                         !default;

// grid
$--grid-breakpoints: (
        xs: '0px',
        sm: '576px',
        md: '768px',
        lg: '992px',
        xl: '1200px',
        xxl: '1600px'
)                                                                                    !default;
$--grid-span:                   24                                                   !default;

// icon
$--icon-spin-time:              1.5s                                                !default;

// button
$--button-font-weight:          $--font-weight                                       !default;
$--button-border-width:         $--border-width                                      !default;
$--button-padding-y:            0.4rem                                      !default;
$--button-padding-x:            0.7rem                                      !default;
$--button-font-size:            $--font-size                                      !default;
$--button-line-height:            1                                    !default;
$--button-border-radius:            $--border-radius                                    !default;
$--button-color-level:            -2                                    !default;
$--button-box-shadow-width:            1px                                    !default;
$--button-theme-color: map_merge((), $--color-theme)!default;
$--button-animation-time: $--animation-duration-fast !default;
$--button-icon-padding: 0.25rem !default;
$--button-opacity-disabled: $--opacity-disabled !default;
$--buttion-shadow-opacity: 0.5 !default;

// spin
$--spin-animation-time: $--animation-duration !default;
$--spin-tip-padding-top: 0.5rem !default;
$--spin-tip-font-size: 0.5em !default;
$--spin-color: $--color-primary !default;
$--spin-wrapper-font-size--default: 2rem !default;
$--spin-wrapper-font-size--small: 1rem !default;
$--spin-wrapper-font-size--large: 3rem !default;
$--spin-opacity: $--opacity-disabled !default;
$--spin-background-color: $--bg-color !default;
