/* stylelint-disable */
@import '../function/color';

//prefix
$--cls-prefix:                  'xl'                                                 !default;

// base color
$--color-white:                 #ffffff                                              !default;
$--color-black:                 #000000                                              !default;

// gray
$--color-gray-0:                color-level($--color-white, 0)                       !default;
$--color-gray-100:              color-level($--color-white, 1)                       !default;
$--color-gray-200:              color-level($--color-white, 2)                       !default;
$--color-gray-300:              color-level($--color-white, 3)                       !default;
$--color-gray-400:              color-level($--color-white, 4)                       !default;
$--color-gray-500:              color-level($--color-white, 5)                       !default;
$--color-gray-600:              color-level($--color-white, 6)                       !default;
$--color-gray-700:              color-level($--color-white, 7)                       !default;
$--color-gray-800:              color-level($--color-white, 8)                       !default;
$--color-gray-900:              color-level($--color-white, 9)                       !default;
$--color-gray-1000:             color-level($--color-white, 10)                      !default;

$--color-grays: (
        0:    $--color-gray-0,
        100:  $--color-gray-100,
        200:  $--color-gray-200,
        300:  $--color-gray-300,
        400:  $--color-gray-400,
        500:  $--color-gray-500,
        600:  $--color-gray-600,
        700:  $--color-gray-700,
        800:  $--color-gray-800,
        900:  $--color-gray-900,
        1000: $--color-gray-1000
)                                                                                    !default;

// theme color
$--color-primary:               #007bff                                             !default;
$--color-success:               #28a745                                             !default;
$--color-info:                  #17a2b8                                             !default;
$--color-warning:               #ffc107                                             !default;
$--color-error:                 #dc3545                                             !default;

$--color-theme: (
        primary:    $--color-primary,
        success:    $--color-success,
        info:       $--color-info,
        warning:    $--color-warning,
        error:      $--color-error,
)                                                                                   !default;

$--color-level: 2                                                                   !default;

//background
$--bg-color:                    $--color-gray-0                                     !default;

// link
$--link-color:                  map-get($--color-theme, primary)                    !default;
$--link-color-hover:            color-level($--link-color, -$--color-level)         !default;
$--link-decoration:             none                                                !default;
$--link-decoration-hover:       underline                                           !default;

//text color
$--text-color:                  map-get($--color-grays, 800)                        !default;
$--text-color-light:            map-get($--color-grays, 0)                          !default;

// border
$--border-color:                map-get($--color-grays, 100)                        !default;
$--border-color-hover:          color-level($--border-color, $--color-level)        !default;
$--border-color-focus:          $--link-color                                       !default;
$--border-width:                1px                                                 !default;
$--border-radius:               0.25rem                                             !default;
$--border-radius-lg:            0.35rem                                             !default;
$--border-radius-sm:            0.15rem                                             !default;

//body
$--body-color:                  map-get($--color-grays, 0)                          !default;
$--body-font-size:              14px                                                !default;

// box shadow
$--box-shadow-sm:               0 .125rem .25rem rgba($--color-gray-1000, .075)     !default;
$--box-shadow:                  0 .5rem 1rem rgba($--color-gray-1000, .15)          !default;
$--box-shadow-lg:               0 1rem 3rem rgba($--color-gray-1000, .175)          !default;

// line-height
$--line-height:                 1.5                                                 !default;
$--line-height-sm:              1                                                   !default;
$--line-height-lg:              1.8                                                 !default;

// font
$--font-family:                 -apple-system,
                                BlinkMacSystemFont,
                                "Segoe UI",
                                Roboto,
                                "Helvetica Neue",
                                Arial, sans-serif,
                                "Apple Color Emoji",
                                "Segoe UI Emoji",
                                "Segoe UI Symbol",
                                "Noto Color Emoji"                                  !default;

$--font-size:                   1rem                                                !default;
$--font-size-lg:                $--font-size * 1.2                                 !default;
$--font-size-sm:                $--font-size * 0.8                                !default;
$--font-weight-lighter:         lighter                                             !default;
$--font-weight-light:           300                                                 !default;
$--font-weight:                 400                                                 !default;
$--font-weight-bold:            700                                                 !default;
$--font-weight-bolder:          bolder                                              !default;

// animation
$--animation-duration:          .4s                                                 !default;
$--animation-duration-fast:     .25s                                                !default;
$--animation-duration-slow:     .6s                                                 !default;

// opacity
$--opacity-disabled:            .5                                                  !default;

// header title
$--h1-font-size:                $--font-size * 2.5                                  !default;
$--h2-font-size:                $--font-size * 2                                    !default;
$--h3-font-size:                $--font-size * 1.75                                 !default;
$--h4-font-size:                $--font-size * 1.5                                  !default;
$--h5-font-size:                $--font-size * 1.25                                 !default;
$--h6-font-size:                $--font-size                                        !default;

// grid
$--grid-breakpoints: (
        xs: '0px',
        sm: '576px',
        md: '768px',
        lg: '992px',
        xl: '1200px',
        xxl: '1600px'
)                                                                                   !default;
$--grid-span:                   24                                                  !default;

// icon
$--icon-spin-time:              1.5s                                                !default;

// button
$--button-bg-color:             $--bg-color                                         !default;
$--button-border-color:         $--border-color                                     !default;
$--button-color-level:          $--color-level                                      !default;
$--button-theme-color:          map_merge((), $--color-theme)                       !default;
$--button-animation-time:       $--animation-duration-fast                          !default;
$--button-icon-padding:         0.25rem                                             !default;
$--button-opacity-disabled:     $--opacity-disabled                                 !default;
$--button-text-color:           $--text-color                                       !default;
$--button-text-color-light:     $--text-color-light                                 !default;
$--button-line-height: $--line-height !default;

$--button-default-height: 2rem !default;
$--button-default-font-weight:          $--font-weight                                      !default;
$--button-default-border-width:         $--border-width                                     !default;
$--button-default-padding-x:            0.8rem                                              !default;
$--button-default-font-size:            $--font-size                                        !default;
$--button-default-border-radius:        $--border-radius                                    !default;

$--button-large-height: 2.5rem !default;
$--button-large-font-weight:          $--button-default-font-weight                                      !default;
$--button-large-border-width:         $--button-default-border-width                                     !default;
$--button-large-padding-x:            $--button-default-padding-x * 1.2                                              !default;
$--button-large-font-size:            $--font-size-lg                                        !default;
$--button-large-border-radius:        $--border-radius                                    !default;

$--button-small-height: 1.5rem !default;
$--button-small-font-weight:          $--button-default-font-weight                                      !default;
$--button-small-border-width:         $--button-default-border-width                                     !default;
$--button-small-padding-x:            $--button-default-padding-x * 0.6                                           !default;
$--button-small-font-size:            $--font-size-sm                                        !default;
$--button-small-border-radius:        $--border-radius                                    !default;

  // spin
$--spin-animation-time:         $--animation-duration                               !default;
$--spin-tip-padding-top:        0.5rem                                              !default;
$--spin-tip-font-size:          0.5em                                               !default;
$--spin-color:                  map-get($--color-theme, primary)                    !default;
$--spin-wrapper-font-size--default:     2rem                                        !default;
$--spin-wrapper-font-size--small:       1rem                                        !default;
$--spin-wrapper-font-size--large:       3rem                                        !default;
$--spin-opacity:                $--opacity-disabled                                 !default;
$--spin-background-color:       $--bg-color                                         !default;

//collapse
$--collapse-bg-color: $--bg-color;
$--collapse-border-color: $--border-color;
$--collapse-border-width: $--border-width;
$--collapse-border-radius: $--border-radius;
$--collapse-panel-header-bg-color: color-level($--collapse-border-color, -$--color-level * 4);
$--collapse-panel-body-color: $--text-color;
$--collapse-panel-header-color: color-level($--text-color, $--color-level);
$--collapse-panel-header--padding: 0.8rem 1rem;
$--collapse-panel-body--padding: $--collapse-panel-header--padding;
$--collapse-panel-opacity-disabled: $--opacity-disabled;
$--collapse-panel-header-icon-padding: 0.5rem;
$--collapse-panel-animation-time: $--animation-duration;

//tooltip
$--tooltip-bg-color: rgba($--color-gray-800, 0.85);
$--tooltip-color: $--bg-color;
$--tooltip-arrow-size: 10px / 2;
$--tooltip-padding-x: 0.7rem;
$--tooltip-padding-y: 0.4rem;
$--tooltip-border-radius: $--border-radius;
$--tooltip-animation-duration: $--animation-duration-fast;

//popover
$--popover-bg-color: $--bg-color;
$--popover-color: $--text-color;
$--popover-border-color: $--border-color;
$--popover-border-width: $--border-width;
$--popover-arrow-size: 14px / 2;
$--popover-header-min-width: 150px;
$--popover-header-font-weight: $--font-weight-bold;
$--popover-header-padding-x: 1rem;
$--popover-header-padding-y: 0.5rem;
$--popover-body-padding-x: $--popover-header-padding-x;
$--popover-body-padding-y: $--popover-body-padding-x;
$--popover-border-radius: $--border-radius;
$--popover-animation-duration: $--animation-duration-fast;
$--popover-box-shadow: 0 2px 8px rgba($--color-gray-1000, 0.15);

//popconfirm
$--popconfirm-bg-color: $--bg-color;
$--popconfirm-color: $--text-color;
$--popconfirm-border-color: $--border-color;
$--popconfirm-border-width: $--border-width;
$--popconfirm-arrow-size: 14px / 2;
$--popconfirm-border-radius: $--border-radius;
$--popconfirm-animation-duration: $--animation-duration-fast;
$--popconfirm-box-shadow: 0 2px 8px rgba($--color-gray-1000, 0.15);
$--popconfirm-content-padding-left: 0.5rem;
$--popconfirm-message-margin: 0.8rem;
$--popconfirm-action-margin: 0 0.8rem 0.8rem 0.8rem;
$--popconfirm-btn-margin: 0.5rem;
$--popconfirm-icon-color: $--color-warning;

//carousel
$--carousel-arrow-between: 1rem;
$--carousel-arrow-size: 2rem;
$--carousel-arrow-bg-color: rgba($--color-black, 0.1);
$--carousel-arrow-color: $--color-white;
$--carousel-arrow-bg-color-hover: rgba($--color-black, 0.2);
$--carousel-arrow-animation-duration: $--animation-duration;
$--carousel-slide-animation: transform $--animation-duration ease-in-out;
$--carousel-dot-between: 3px;
$--carousel-dot-list-between: 1rem;
$--carousel-dot-height: 3px;
$--carousel-dot-width: 20px;
$--carousel-dot-width-active: 25px;
$--carousel-dot-circle-size: 6px;
$--carousel-dot-click-padding: 5px;
$--carousel-dot-bg-color: #fff;
$--carousel-dot-opacity: 0.3;
$--carousel-dot-opacity-hover: 1;
$--carousel-dot-animation: height $--animation-duration ease-in-out, width $--animation-duration ease-in-out,opacity $--animation-duration ease-in-out;

//dropdown
$--dropdown-wrapper-padding: 5px;
$--dropdown-bg-color: $--bg-color;
$--dropdown-box-shadow: 0 1px 6px rgba($--color-black, 0.2);
$--dropdown-border-radius: $--border-radius;
$--dropdown-padding: 4px 0;
$--dropdown-item-padding-x: 12px;
$--dropdown-item-padding-y: 5px;
$--dropdown-item-bg-color-hover: color-level($--color-primary, -$--color-level * 4.5);
$--dropdown-animation: all $--animation-duration-fast ease-in-out;
$--dropdown-item-disabled: $--opacity-disabled;
$--dropdown-divider-color: $--border-color;
$--dropdown-text-color: $--text-color;

//editor
$--editor-border-color: $--border-color;
$--editor-border-width: $--border-width;
$--editor-content-padding: 8px;
$--editor-toolbar-width: 3px;
$--editor-toolbar-btn-padding: 5px 8px;
$--editor-toolbar-btn-margin: 3px;
$--editor-bg-color: $--bg-color;
$--editor-toolbar-bg-color-hover: color-level($--editor-bg-color, 1);
$--editor-toolbar-animation-time: $--animation-duration;
