@import '@/assets/style/var.scss';
.icon-select{
    padding: 1rem 0;
    .icon-input{
        display: block;
        width: 70%;
        margin: 0 auto;
        height: 2rem;
        line-height: 2rem;
        font-size: 1.5rem;
        border: 1px $--border-color solid;
        outline: none;
        border-radius: $--border-radius;
        margin-bottom: 1rem;
        transition: border-color $animation-duration-base ease-in-out;
        color: $--text-color-dark;
        &:hover{
            border-color: $--border-color-hover;
        }
        &:focus{
            border-color: $--border-color-focus;
        }
    }
    .icon-wrapper{
        position: relative;
        display: inline-block;
        width: 20%;
        text-align: center;
        .icon{
            height: 100px;
            width: 150px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: $--border-radius;
            transition: background-color $animation-duration-base ease-in-out;
            cursor: pointer;
            svg{
                transition: fill $animation-duration-base ease-in-out;
            }
            &:hover{
                background-color: $--color-primary;
                svg{
                    fill: $--bg-color;
                }
            }
        }
        .icon-name{
            position: absolute;
            font-size: 0.8rem;
            bottom: 8px;
            left: 50%;
            transform: translateX(-50%);
            color: $--bg-color;
            transition: opacity $animation-duration-base ease-in-out;
        }
    }
}