@import "../../assets/style/var";
@import "../../../src/style/function/color";

@function color-group-level($color-group, $level) {
  $map: ();

  @each $key in map-keys($color-group) {
    $map: map-merge(
      $map,
      (
        #{$key}: color-level(map-get($color-group, $key), $level)
      )
    );
  }
  @return $map;
}

.color-theme-list {
  .color-group {
    display: inline-block;
    width: 18%;
    margin: 0 1%;
    padding: 0;
    overflow: hidden;
    font-size: 0;
    text-align: center;
    border-radius: $--border-radius;

    .color-primary {
      height: 6rem;
      font-size: 1.5rem;
      line-height: 6rem;
    }

    .color-child-group {
      box-sizing: border-box;
    }

    .color-child {
      display: inline-block;
      width: 50%;
      height: 3rem;
      font-size: 0.8rem;
      line-height: 3rem;
    }

    @each $key, $value in $--color-theme {
      .color-theme-#{$key} {
        color: color-yiq($value, $--text-color, $--text-color-light);
        background-color: $value;
      }
    }

    @each $key, $value in color-group-level($--color-theme, -$--color-level) {
      .color-theme-#{$key}-light {
        color: color-yiq($value, $--text-color, $--text-color-light);
        background-color: $value;
      }
    }

    @each $key, $value in color-group-level($--color-theme, $--color-level) {
      .color-theme-#{$key}-dark {
        color: color-yiq($value, $--text-color, $--text-color-light);
        background-color: $value;
      }
    }
  }
}

.color-gray-list {
  margin: 0 1%;
  overflow: hidden;
  font-size: 0;
  text-align: center;
  border-radius: $--border-radius;

  .color-gray-item {
    display: inline-block;
    width: 1 / 11 * 100%;
    height: 9rem;
    font-size: 1rem;
    line-height: 9rem;
  }

  @each $key, $value in $--color-grays {
    .color-gray-#{$key} {
      color: color-yiq($value, $--text-color, $--text-color-light);
      background-color: $value;
    }
  }
}
