@import '../../style/commons/var';

.grid-row-box {
  padding: 0.5rem;
  background-color: $--color-gray-100;
  border-radius: $--border-radius;

  & + & {
    margin-top: 1rem;
  }

  &--flex {
    .xl-row-flex {
      height: 3rem;
    }
  }
}

.grid-col-box {
  padding: 0.5rem;
  color: #fff;
  text-align: center;
  background-color: color-level($--color-primary, -5);
  border-radius: $--border-radius;
}
