@import '../../style/commons/var';
@import '../../style/mixins/clearfix';

$confirm-modal: #{$--cls-prefix}-modal-confirm;
$modal: #{$--cls-prefix}-modal;

.#{$confirm-modal} {
  @include clearfix();

  &__icon {
    float: left;
    font-size: $--modal-confirm-icon-font-size;
  }

  &__icon + &__body {
    padding-left: $--modal-confirm-body-padding-left;
  }

  &__title {
    margin: $--modal-confirm-title-margin;
    font-weight: $--modal-title-font-weight;
    font-size: $--modal-title-font-size;
  }

  &__content {
    margin: $--modal-confirm-content-margin;
    color: $--modal-body-font-color;
  }

  &__footer {
    text-align: right;

    button + button {
      margin-left: $--modal-footer-button-margin;
    }
  }
}

.#{$modal} {
  &-icon--confirm {
    color: $--modal-icon-color--confirm;
  }

  &-icon--info {
    color: $--modal-icon-color--info;
  }

  &-icon--success {
    color: $--modal-icon-color--success;
  }

  &-icon--error {
    color: $--modal-icon-color--error;
  }

  &-icon--warning {
    color: $--modal-icon-color--warning;
  }
}
