@import '../../style/commons/var';

$modal: #{$--cls-prefix}-modal;

.#{$modal}__wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: $--modal-mask-color;

  .#{$modal} {
    position: relative;
    top: $--modal-top;
    margin: 0 auto;
    background-color: $--modal-bg-color;
    border-radius: $--modal-border-radius;
    box-shadow: $--modal-box-shadow;

    &__icon {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      padding: 0;
      color: $--modal-close-icon-color;
      text-decoration: none;
      background-color: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
      transition: color $--modal-close-icon-animation-duration;

      &:hover,
      &:focus {
        color: $--modal-close-icon-color-hover;
      }
    }

    &__icon-x {
      display: block;
      width: $--modal-header-padding-y * 2 + $--modal-title-font-size;
      height: $--modal-header-padding-y * 2 + $--modal-title-font-size;
      line-height: $--modal-header-padding-y * 2 + $--modal-title-font-size;
      text-align: center;
    }

    &__header {
      padding: $--modal-header-padding-y $--modal-header-padding-x;
      border-bottom: 1px solid #eee;
    }

    &__title {
      font-weight: $--modal-title-font-weight;
      font-size: $--modal-title-font-size;
    }

    &__body {
      padding: $--modal-body-padding;
      color: $--modal-body-font-color;
    }

    &__footer {
      padding: $--modal-footer-padding;
      text-align: right;
      border-top: 1px solid #eee;

      button + button {
        margin-left: $--modal-footer-button-margin;
      }
    }
  }
}

.#{$modal}--fade {
  &-enter-active,
  &-leave-active {
    transition: opacity $--modal-animation-duration $--modal-animation-function;
    .#{$modal} {
      transition: transform $--modal-animation-duration $--modal-animation-function;
    }
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    .#{$modal} {
      transform: scale(0);
    }
  }

  &-enter-to,
  &-leave {
    opacity: 1;
    .#{$modal} {
      transform: scale(1);
    }
  }
}
