@use './var' as *;
@import '~prismjs/themes/prism.css';

.md {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;

  pre {
    code {
      font-size: 1rem;
      font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
      line-height: 2;
    }
  }

  .demobox {
    margin-bottom: 1rem;
  }

  &_code_inline {
    display: inline-block;
    margin: 0 0.2em;
    padding: 0.1em 0.4em;
    font-size: 0.8em;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
  }

  &_blockquote {
    margin: 1rem 0;
    padding: 0.25rem 0 0.25rem 1rem;
    line-height: 2;
    background-color: lighten(#dfe2e5, 8%);
    border-left: 4px solid #dfe2e5;
    p {
      margin: 0;
    }
  }

  &_blockquote + &_blockquote {
    margin-top: -1rem - 0.5rem;
  }

  // &_fence{

  // }

  &_a {
    // color: $link-color;
    text-decoration: none;
    transition: color 0.4s ease-in-out,
      text-decoration 0.4s ease-in-out;

    &:hover {
      // color: $link-color-hover;
      text-decoration: underline;
    }
  }

  &_table-wrapper {
    box-sizing: border-box;
    overflow-x: auto;
  }

  &_table {
    min-width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    border-collapse: collapse;
    border-spacing: 0;

    // tbody{
    //   tr{
    //     &:nth-child(odd){
    //       background-color: #d8d8d8;
    //     }
    //   }
    // }
    td,
    th {
      padding: 1rem;
      // border-bottom: 1px solid $border-color;
    }

    th {
      // color: $title-color;
      font-weight: bold;
      white-space: nowrap;
      text-align: left;
    }

    td {
      // color: $text-color;
    }
  }

  &_li,
  &_ol {
    li {
      margin-bottom: 0.5rem;
    }
  }
}
