@mixin arrowWithBorder($direction, $size, $bgColor, $borderSize, $borderColor) {
  $innerSize: $size * 2 - $borderSize * 2;

  &::before {
    top: 0;
    left: 0;
    border: $size solid transparent;
  }

  &::after {
    border: $innerSize / 2 solid transparent;
  }

  &::before,
  &::after {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 0;
    height: 0;
    content: '';
  }

  @if ($direction == top) {
    &::before {
      border-bottom-color: $borderColor;
    }

    &::after {
      top: 2 * $borderSize;
      left: $borderSize;
      border-bottom-color: $bgColor;
    }
  } @else if ($direction == bottom) {
    &::before {
      border-top-color: $borderColor;
    }

    &::after {
      top: 0;
      left: $borderSize;
      border-top-color: $bgColor;
    }
  } @else if ($direction == left) {
    &::before {
      border-right-color: $borderColor;
    }

    &::after {
      top: $borderSize;
      left: 2 * $borderSize;
      border-right-color: $bgColor;
    }
  } @else {
    &::before {
      border-left-color: $borderColor;
    }

    &::after {
      top: $borderSize;
      left: 0;
      border-left-color: $bgColor;
    }
  }
}

@mixin arrowWithoutBorder($direction, $size, $bgColor) {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border: $size solid transparent;
    content: '';
  }

  @if ($direction == top) {
    &::before {
      border-bottom-color: $bgColor;
    }
  } @else if ($direction == bottom) {
    &::before {
      border-top-color: $bgColor;
    }
  } @else if ($direction == left) {
    &::before {
      border-right-color: $bgColor;
    }
  } @else {
    &::before {
      border-left-color: $bgColor;
    }
  }
}

@mixin arrow($direction, $size, $bgColor, $borderSize: 0, $borderColor: $bgColor) {
  @if ($borderSize==0) {
    @include arrowWithoutBorder($direction, $size, $bgColor);
  } @else {
    @include arrowWithBorder($direction, $size, $bgColor, $borderSize, $borderColor);
  }
}
