$deceleration-curve-timing-function: cubic-bezier(0, 0, 0.2, 1) !default;
$standard-curve-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;
$acceleration-curve-timing-function: cubic-bezier(0.4, 0, 1, 1) !default;
$sharp-curve-timing-function: cubic-bezier(0.4, 0, 0.6, 1) !default;

$shortest-duration: 150ms;
$shorter-duration: 200ms;
$short-duration: 250ms;
$standard-duration: 300ms;
// complex animation
$complex-duration: 375ms;
$enter-duration: 225ms;
$leave-duration: 195ms;
