@import '../style/commons/var';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.#{$--cls-prefix}-icon {
  display: inline-block;
  font-size: $--icon-font-size;
  line-height: 0;

  &--spin {
    animation: spin $--icon-spin-time linear infinite;
  }
}
