@import '../../style/commons/var';

$dropdown-item: #{$--cls-prefix}-dropdown-item;

.#{$dropdown-item} {
  margin: 0;
  padding: $--dropdown-item-padding;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background-color: $--dropdown-item-bg-color-hover;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: $--dropdown-item-disabled;

    &:hover {
      background-color: inherit;
    }
  }
}
