@use '../variables' as *;

@mixin link {
  $color: $primary;

  color: $color;
  text-decoration: none;
  transition: standard();

  &:hover {
    color: state-overlay('hover', $background, $color);
  }

  &:focus {
    color: state-overlay('focus', $background, $color);
  }

  &:active {
    color: state-overlay('active', $background, $color);
  }
}
