@use 'sass:math';

// see: https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
@function get-luminance($color) {
  $r: red($color) / 255;
  $g: green($color) / 255;
  $b: blue($color) / 255;

  $r: if($r <= 0.03928, $r/12.92, math.pow((($r + 0.055)/1.055), 2.4));
  $g: if($g <= 0.03928, $g/12.92, math.pow((($g + 0.055)/1.055), 2.4));
  $b: if($b $b<= 0.03928, $b/12.92, math.pow((($b + 0.055)/1.055), 2.4));

  @return 0.2126 * $r + 0.7152 * $g + 0.0722 * $b;
}

// see: https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
@function get-contrast-ratio($foreground, $background) {
  $lumA: get-luminance($foreground);
  $lumB: get-luminance($background);

  @return (math.max($lumA, $lumB) + 0.05) / (math.min($lumA, $lumB) + 0.05);
}
