@import '../../assets/style/var';

$padding: 1rem;

.demobox {
  overflow: hidden;
  font-size: 1rem;
  background-color: $--bg-color;
  border: 1px solid $--border-color;
  border-radius: $--border-radius;

  .demobox-view {
    padding: $padding;
    border-bottom: 1px solid $--border-color;
  }

  .demobox-code {
    border-top: 1px dashed $--border-color;

    > p {
      display: none;
    }

    code {
      padding: $padding;
      font-family: Menlo, Monaco, Consolas, Courier, monospace;
    }

    pre {
      margin: 0;
    }
  }

  .demobox-wrapper {
    position: relative;
    padding: 1rem;

    .demobox-title {
      position: absolute;
      top: -$padding / 2;
      display: inline-block;
      padding: 0 $padding / 3;
      font-weight: bold;
      background-color: $--bg-color;

      p {
        margin: 0;
        padding: 0;
      }
    }

    .demobox-desc {
      display: inline-block;
      padding-right: 2rem;
      font-size: 0.9rem;
      line-height: 0.9rem * 2;

      p {
        margin: 0;
        padding: 0;
      }
    }

    .demobox-action {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.25rem;

      .xl-button {
        color: lighten($--text-color, 30%);
        font-size: 2rem;
      }

      .demobox-showcode {
        transition: transform $--animation-duration ease;
      }

      .demobox-showcode-active {
        transform: rotate(90deg);
      }
    }
  }

  .demobox-collapse {
    transition: all $--animation-duration ease;
  }
}
