@import "../../styles/var";

$--padding: 1rem;

.demo-box {
  border: 1px solid $--border-color;
  border-radius: $--border-radius;
  background-color: $--bg-color;
  .demo-view {
    padding: $--padding;
    border-bottom: 1px solid $--border-color;
  }

  .demo-info {
    padding: $--padding;
    position: relative;
    color: $--color-gray-700;
  }
  .demo-title {
    position: absolute;
    display: inline-block;
    top: -$--padding /2;
    z-index: 1;
    background-color: $--bg-color;
  }

  .demo-desc {
  }

  .demo-desc-code{
    background-color: #e6effb; // color: $--bg-color;
    display: inline-block;
    margin: 0 0.2rem;
    padding: 0.2rem 0.4rem;
    height: 1.1rem;
    line-height: 1.1rem;
    border-radius: $--border-radius / 2;
  }

  .demo-code {
    background-color: $--body-color;
    border-top: 1px dashed $--border-color;
    padding: $--padding;
  }
}