@import "../../assets/style/var";
@import "../../../src/style/function/color";

.quickstart {
  pre {
    padding: 1rem;
    background-color: rgba($--color-gray-100, 0.4);
    border-radius: $--border-radius;
  }
}
