@use './hsv';
@use 'sass:math';
@use 'sass:color';

$hueStep: 2;
$saturationStep1: 16;
$saturationStep2: 5;
$brightnessStep1: 5;
$brightnessStep2: 15;
$lightStep1: 5;
$lightStep2: 4;

@function _hue($color, $index) {
  $h: hsv.hue($color) / 1deg;
  @if ($h >= 60 and $h <= 240) {
    $h: $h + $hueStep * $index;
  } @else {
    $h: $h - $hueStep * $index;
  }
  @if ($h < 0) {
    $h: $h + 360;
  } @else if ($h >= 360) {
    $h: $h - 360;
  }
  @return $h * 1deg;
}

@function _saturation($color, $index) {
  $s: hsv.saturation($color) / 1%;
  @if ($index < 0) {
    $s: $s + $saturationStep1 * $index;
  } @else {
    $s: $s + $saturationStep2 * $index;
  }
  @if ($s > 100) {
    $s: 100;
  }
  @if ($s < 6) {
    $s: 6;
  }
  @return $s * 1%;
}

@function _value($color, $index) {
  $v: hsv.value($color) / 1%;
  @if ($index < 0) {
    $v: $v - $brightnessStep1 * $index;
  } @else {
    $v: $v - $brightnessStep2 * $index;
  }

  @if ($v > 100) {
    $v: 100;
  }

  // @if ($v < 6) {
  //   $v: 6;
  // }

  @return $v * 1%;
}

@function palette($color, $index) {
  $h: _hue($color, $index);
  $s: _saturation($color, $index);
  $v: _value($color, $index);

  @return hsv.color($h, $s, $v);
}

@function yiq($color, $dark, $light, $threshold: 150) {
  $r: color.red($color);
  $g: color.green($color);
  $b: color.blue($color);
  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= $threshold) {
    @return $dark;
  } @else {
    @return $light;
  }
}
