// color palettes
$blue-base: #1890ff;
$purple-base: #722ed1;
$cyan-base: #13c2c2;
$green-base: #52c41a;
$magenta-base: #eb2f96;
$red-base: #ff4d4f;
$orange-base: #fa8c16;
$yellow-base: #fadb14;
$volcano-base: #fa541c;
$geekblue-base: #2f54eb;
$lime-base: #a0d911;
$gold-base: #faad14;

$colors: (
  blue: $blue-base,
  purple: $purple-base,
  cyan: $cyan-base,
  green: $green-base,
  magenta: $magenta-base,
  red: $red-base,
  orange: $orange-base,
  yellow: $yellow-base,
  volcano: $volcano-base,
  geekblue: $geekblue-base,
  lime: $lime-base,
  gold: $gold-base
);
