@use '../../Popper/style';
@use './var' as *;
@use '../../style/mixins/arrow' as *;

$popconfirm: #{$cls-prefix}-popconfirm;
$icon: #{$cls-prefix}-icon;

.#{$popconfirm} {
  position: relative;

  @include arrow(#{$popconfirm}__arrow, $popconfirm-arrow-size, $popconfirm-bg);

  &__inner {
    box-sizing: border-box;
    min-width: $popconfirm-min-width;
    padding: $popconfirm-padding;
    color: $popconfirm-color;
    background-color: $popconfirm-bg;
    border-radius: $popconfirm-border-radius;

    @include elevation(8);
  }
  &__message {
    padding: $popconfirm-message-padding;

    @include body2();

    .#{$popconfirm}__title {
      padding-left: $popconfirm-title-padding-left;
    }

    .#{$icon} {
      color: $popconfirm-icon-color;
      font-size: $popconfirm-icon-font-size;
      vertical-align: $popconfirm-icon-vertical-align;
    }
  }

  &__footer {
    text-align: right;

    button {
      margin-left: $popconfirm-button-margin;
    }
  }

  &--zoom {
    &-enter-active,
    &-leave-active {
      transition: $popconfirm-aniamtion;
    }

    &-enter,
    &-leave-to {
      transform: scale(0);
      opacity: 0;
    }

    &-enter-to,
    &-leave {
      transform: scale(1);
      opacity: 1;
    }
  }
}
