@import '../../assets/style/var.scss';

.header {
  background-color: $--bg-color;
  padding: 0.5rem;
  box-shadow: 0 2px 8px #f0f1f2;

  .logo {
    text-decoration: none;
    img{
      height: 4rem;
    }
  }
}