@import "../../style/commons/var";

$carousel: #{$--cls-prefix}-carousel;

.#{$carousel} {
  position: relative;
  box-sizing: border-box;

  &__item-list-wrapper {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  &__item-list {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;

    &--animate {
      transition: $--carousel-slide-animation;
    }
  }

  &__item {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__arrow {
    position: absolute;
    z-index: 10;
    width: $--carousel-arrow-size;
    height: $--carousel-arrow-size;
    margin: 0;
    padding: 0;
    color: $--carousel-arrow-color;
    text-align: center;
    background-color: $--carousel-arrow-bg-color;
    border: 0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all $--carousel-arrow-animation-duration ease;
    touch-action: manipulation;

    &:hover {
      background-color: $--carousel-arrow-bg-color-hover;
    }
  }

  &__dot-list {
    position: absolute;
    z-index: 10;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__dot {
    margin: 0 $--carousel-dot-between;
    padding: $--carousel-dot-click-padding;
    line-height: 0;
    cursor: pointer;

    &-inner {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-size: 0;
      background-color: $--carousel-dot-bg-color;
      border: 0;
      outline: none;
      cursor: pointer;
      opacity: $--carousel-dot-opacity;
      transition: $--carousel-dot-animation;
      touch-action: manipulation;

      &--circle {
        width: $--carousel-dot-circle-size !important;
        height: $--carousel-dot-circle-size !important;
        border-radius: 50%;
      }
    }

    &:hover .#{$carousel}__dot-inner,
    .#{$carousel}__dot-inner--active {
      opacity: $--carousel-dot-opacity-hover;
    }
  }

  &--horizontal {
    .#{$carousel}__item {
      float: left;
    }

    .#{$carousel}__arrow {
      top: 50%;
      transform: translate(0, -50%);
      opacity: 1;

      &--first {
        left: $--carousel-arrow-between;
      }

      &--last {
        right: $--carousel-arrow-between;
      }

      &--fade-enter,
      &--fade-leave-to {
        opacity: 0;

        &.#{$carousel}__arrow--first {
          transform: translate(-$--carousel-arrow-between, -50%);
        }

        &.#{$carousel}__arrow--last {
          transform: translate($--carousel-arrow-between, -50%);
        }
      }
    }

    .#{$carousel}__dot-list {
      bottom: $--carousel-dot-list-between;
      width: 100%;
      text-align: center;
    }

    .#{$carousel}__dot {
      display: inline-block;

      &-inner {
        width: $--carousel-dot-width;
        height: $--carousel-dot-height;

        &--active {
          width: $--carousel-dot-width-active;
        }
      }
    }
  }

  &--vertical {
    //.#{$carousel}__item {
    //  display: block;
    //}

    .#{$carousel}__arrow {
      left: 50%;
      transform: translate(-50%, 0);
      opacity: 1;

      &--first {
        top: $--carousel-arrow-between;
      }

      &--last {
        bottom: $--carousel-arrow-between;
      }

      &--fade-enter,
      &--fade-leave-to {
        opacity: 0;

        &.#{$carousel}__arrow--first {
          transform: translate(-50%, -$--carousel-arrow-between);
        }

        &.#{$carousel}__arrow--last {
          transform: translate(-50%, $--carousel-arrow-between);
        }
      }
    }

    .#{$carousel}__dot-list {
      top: 50%;
      right: $--carousel-dot-list-between;
      transform: translateY(-50%);
    }

    .#{$carousel}__dot {
      display: block;

      &-inner {
        width: $--carousel-dot-height;
        height: $--carousel-dot-width;

        &--active {
          height: $--carousel-dot-width-active;
        }
      }
    }
  }
}
