@import '../../style/commons/var';
@import '../../style/mixins/arrow';

$tooltip: #{$--cls-prefix}-tooltip;

.#{$tooltip} {
  &__arrow {
    position: absolute;
    width: $--tooltip-arrow-size * 2;
    height: $--tooltip-arrow-size * 2;

    &--top {
      bottom: 0;
      margin-bottom: -$--tooltip-arrow-size * 2;
      @include arrow(bottom, $--tooltip-arrow-size, $--tooltip-bg-color);
    }

    &--bottom {
      margin-top: -$--tooltip-arrow-size * 2;
      @include arrow(top, $--tooltip-arrow-size, $--tooltip-bg-color);
    }

    &--left {
      right: 0;
      margin-right: -$--tooltip-arrow-size * 2;
      @include arrow(right, $--tooltip-arrow-size, $--tooltip-bg-color);
    }

    &--right {
      margin-left: -$--tooltip-arrow-size * 2;

      @include arrow(left, $--tooltip-arrow-size, $--tooltip-bg-color);
    }
  }

  &__body {
    padding: $--tooltip-padding-y $--tooltip-padding-x;
    color: $--tooltip-color;
    background-color: $--tooltip-bg-color;
    border-radius: $--tooltip-border-radius;
  }

  // 不能使用enter-active,会导致overlayStyle中设置的transform-origin失效
  &--fade-enter-to,
  &--fade-leave-to {
    transition: opacity $--tooltip-animation-duration ease-in-out,
      transform $--tooltip-animation-duration ease-in-out;
  }

  &--fade-enter,
  &--fade-leave-to {
    transform: scale(0.8);
    opacity: 0;
  }

  &--fade-enter-to,
  &--fade-leave {
    transform: scale(1);
    opacity: 1;
  }
}
