@import '../../../style/var.scss';

.grid-row-box {
  background-color: $--color-gray-200;
  padding: 0.5rem;
  border-radius: $--border-radius;
}

.grid-col-box {
  background-color: color-level($--color-primary, -5);
  color: #fff;
  border-radius: $--border-radius;
  text-align: center;
  padding: 0.5rem;
}