@use '~site/assets/style/var' as *;

.icon-select {
  width: 100%;
  padding: 1rem 0;
  text-align: center;

  .icon-input {
    display: inline-block;
    width: 70%;
    padding: 0.5rem;
    color: $text-color;
    font-size: 1.2rem;
    line-height: 1.5;
    border: 1px $border-color solid;
    border-radius: $border-radius;
    outline: none;
    transition: border-color 0.4s ease-in-out;

    &:hover {
      border-color: darken($border-color, 0.1);
    }

    &:focus {
      border-color: darken($border-color, 0.1);
    }
  }

  .icon-info {
    padding: 1rem 0;
    color: $text-color;
  }

  .icon-list {
    display: inline-block;
    width: 100%;
  }

  .icon-wrapper {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    margin: 1rem 0;
    text-align: center;

    .icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 100%;
      height: 120px;
      border-radius: $border-radius;
      cursor: pointer;
      transition: background-color 0.4s ease-in-out;

      svg {
        transition: fill 0.4s ease-in-out;
      }

      &:hover {
        background-color: $primary-color;

        svg {
          fill: #fff;
        }
      }
    }

    .icon-name {
      position: absolute;
      bottom: 8px;
      left: 50%;
      padding-top: 0.5rem;
      color: #fff;
      font-size: 0.8rem;
      transform: translateX(-50%);
      transition: opacity 0.4s ease-in-out;
    }
  }
}
