@import "../../style/commons/var";

.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: $--text-color-light;
  font-size: 3rem;
  background-color: $--color-primary;
}
