@import '../style/commons/var';
@import "../style/function/color";

// mixins
@mixin button-variant($background) {
  $border: $background;
  $background-hover: color-level($background, $--button-color-level);
  $border-hover: $background-hover;
  $background-active: $background-hover;
  $border-active: $background-active;

  color: color-yiq($background, $--text-color, $--text-color-light);
  background-color: $background;
  border-color: $border;
  // box-shadow: $--btn-box-shadow;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    color: color-yiq($background-hover, $--text-color, $--text-color-light);
    background-color: $background-hover;
    border-color: $border-hover;
  }

  &:focus:not(:disabled) {
    box-shadow: 0 0 0 $--button-box-shadow-width rgba($border-hover, 0.5);
  }

  &:active:not(:disabled) {
    color: color-yiq($background-active, $--text-color, $--text-color-light);
    background-color: $background-active;
    border-color: $border-active;
    box-shadow: 0 0 0 $--button-box-shadow-width rgba($border-active, 0.5);
  }
}

@mixin button-outline-variant($color) {
  $border: $color;
  $color-hover: color-level($border, $--button-color-level);
  $border-hover: $color-hover;
  $color-active: $color-hover;
  $border-active: $color-active;

  color: $color;
  background-color: transparent;
  background-image: none;
  border-color: $border;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    color: $color-hover;
    background-color: transparent;
    border-color: $border-hover;
  }

  &:focus:not(:disabled) {
    box-shadow: 0 0 0 $--button-box-shadow-width rgba($border-hover, 0.5);
  }

  &:active:not(:disabled) {
    color: $color-active;
    border-color: $border-active;
    box-shadow: 0 0 0 $--button-box-shadow-width rgba($border-active, 0.5);
  }
}

.#{$--cls-prefix}-button {
  display: inline-block;
  padding: $--button-padding-y $--button-padding-x;
  font-weight: $--button-font-weight;
  font-size: $--button-font-size;
  // line-height: $--button-line-height;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  border: $--button-border-width solid transparent;
  border-radius: $--button-border-radius;
  outline: none;
  cursor: pointer;
  transition:
    color $--button-animation-time ease-in-out,
    border-color $--button-animation-time ease-in-out,
    background-color $--button-animation-time ease-in-out,
    box-shadow $--button-animation-time ease-in-out;
  -webkit-appearance: none;
  user-select: none;

  &--round {
    border-radius: $--button-padding-y + $--button-font-size;
  }

  &--circle {
    min-height: $--button-padding-y * 2 + $--button-font-size;
    padding: $--button-padding-y;
    line-height: 0;
    vertical-align: middle;
    border-radius: 50%;
  }

  &--loading {
    opacity: $--button-opacity-disabled;
    pointer-events: none;
  }

  &--dashed {
    border-style: dashed;
  }

  &--long {
    display: block;
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: $--button-opacity-disabled;
  }

  .#{$--cls-prefix}-icon + span,
  span + .#{$--cls-prefix}-icon{
    padding-left: $--button-icon-padding;
  }

  &--default {
    background-color: $--bg-color;
    border-color: $--border-color;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      color: $--color-primary;
      background-color: color-level($--color-primary, -8);
      border-color: color-level($--color-primary, -4);
    }

    &.#{$--cls-prefix}-button--plain,
    &.#{$--cls-prefix}-button--ghost {
      background-color: transparent;

      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        color: $--color-primary;
        background-color: transparent;
        border-color: $--color-primary;
      }
    }
  }

  &--text {
    color: $--link-color;
    background-color: transparent;

    &:hover,
    &:focus {
      color: $--link-color-hover;
    }
  }

  @each $key, $value in $--button-theme-color {
    &--#{$key} {

      @include button-variant($value);

      &.#{$--cls-prefix}-button--ghost,
      &.#{$--cls-prefix}-button--plain {

        @include button-outline-variant($value);
      }
    }
  }

  &--plain {
    background-color: $--bg-color !important;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: $--bg-color !important;
    }
  }
}
