@import '../../assets/style/var';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: $--bg-color;
  // box-shadow: 0 2px 8px #f0f1f2;
  border-bottom: 1px solid $--border-color;

  .logo {
    text-decoration: none;

    img {
      height: 3.5rem;
    }
  }
}
