@use '../../assets/style/variables' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  @include elevation(2);
}
.logo {
  text-decoration: none;
  img {
    height: 3.5rem;
  }
}
