@use '../../style/theme' as *;
@forward '../../style/theme';

$popover-bg: $background;
$popover-color: base-color('primary', $popover-bg);

$popover-title-padding: px2rem(4px) px2rem(16px);
$popover-content-padding: px2rem(12px) px2rem(16px);

$popover-border-width: 1px;
$popover-border-color: base-color('divider', $popover-bg);
$popover-border-radius: $border-radius-medium;

$popover-min-width: px2rem(160px);

$popover-arrow-size: 5px;

$popover-aniamtion: standard();
