@use '../../Popper/style';
@use './var' as *;
@use '../../style/mixins/arrow' as *;

$popover: #{$cls-prefix}-popover;

.#{$popover} {
  position: relative;

  @include arrow(#{$popover}__arrow, $popover-arrow-size, $popover-bg);

  &__inner {
    box-sizing: border-box;
    min-width: $popover-min-width;
    color: $popover-color;
    background-color: $popover-bg;
    border-radius: $popover-border-radius;

    @include elevation(8);
  }
  &__title {
    padding: $popover-title-padding-y $popover-padding-x;
    border-bottom: $popover-border-width solid $popover-border-color;

    @include subtitle2();
  }

  &__content {
    padding: $popover-content-padding-y $popover-padding-x;

    @include body2();
  }

  &--zoom {
    &-enter-active,
    &-leave-active {
      transition: $popover-aniamtion;
    }

    &-enter,
    &-leave-to {
      transform: scale(0);
      opacity: 0;
    }

    &-enter-to,
    &-leave {
      transform: scale(1);
      opacity: 1;
    }
  }
}
