@import './var';

body {
  font-family: $--font-family;
  font-size: 16px;
  color: $--text-color-dark;
  background-color: $--body-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}