@import '../../style/var.scss';

$padding: 1rem;

.demo-box {
  border: 1px solid $--border-color;
  background-color: $--bg-color;

  .view {
    padding: $padding;
    border-bottom: 1px solid $--border-color;
  }

  .info-wrapper {
    padding: 1rem;
    position: relative;

    .title {
      position: absolute;
      top: -$padding / 2;
      display: inline-block;
      background-color: $--bg-color;
      padding: 0 $padding / 3;
    }

    .description {}
  }


  .code-wrapper {
    border-top: 1px dashed $--border-color;
    padding: $padding;

    code {
      padding: 0;
      font-family: 'Lucida Console', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    }

    pre {
      margin: 0;
    }
  }
}