@use '../../style/theme' as *;
@forward '../../style/theme';

$tooltip-bg: rgba(theme-pick($gray, 800), 0.9);
$tooltip-color: $white;

$tooltip-padding: px2rem(8px) px2rem(16px);
$tooltip-border-radius: $border-radius-medium;

$tooltip-arrow-size: 5px;

$tooltip-aniamtion: all $standard-duration $fast-out-slow-in-timing-function;
