@import '../../../style/commons/var';

.#{$--cls-prefix}-col {
  float: left;
  box-sizing: border-box;
  @for $num from 1 through $--grid-span {
    &-span-#{$num} {
      width: 100% * $num/ $--grid-span;
    }
    &-offset-#{$num} {
      margin-left: 100% * $num/ $--grid-span;
    }
    &-push-#{$num} {
      position: relative;
      left: 100% * $num/ $--grid-span;
    }
    &-pull-#{$num} {
      position: relative;
      right: 100% * $num/ $--grid-span;
    }
  }
}

