@import '../../../style/commons/var';
@import '../../../style/utils/mixins';
.#{$--cls-prefix}-row {
  position: relative;
  box-sizing: border-box;
  @include clearfix;
  &-flex {
    display: flex;
    &-start {
      justify-content: flex-start;
    }
    &-end {
      justify-content: flex-end;
    }
    &-center {
      justify-content: center;
    }
    &-space-around {
      justify-content: space-around;
    }
    &-space-betweem {
      justify-content: space-between;
    }
    &-top {
      align-items: flex-start;
    }
    &-middle {
      align-items: center;
    }
    &-bottom {
      align-items: flex-end;
    }
  }
}